
    {% extends 'base.html' %}
    {% block body %}
    
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    </style>

<script>

   
    function showVouchers(){
      
      document.getElementById('voucherPop').style.visibility= "visible";
      document.getElementById('voucherPop').style.display = "block"; 
      /*document.getElementById('ledger').hidden=true */
     
  }
    window.addEventListener('click',outsideClick)
    function outsideClick(event){
        if(event.target == document.getElementById('voucherPop')){
            document.getElementById('voucherPop').style.display = "none"
        }
    }
   
    function setVtype(names){
        if (document.getElementById('ledgeraccount').value==null)
        {
        document.getElementById('ledgeraccount').value=names
        }
        else{
            document.getElementById('ledgeraccount').value=names
        }
        
    }
    function showDp(){
        document.getElementById('dpModal').style.visibility= "visible";
        document.getElementById('dpModal').style.display = "block";  
    }
    window.addEventListener('click',outsideClick1)
    function outsideClick1(event){
        if(event.target == document.getElementById('dpModal')){
            document.getElementById('dpModal').style.display = "none"
        }
    }
    
    
    function showunder()
        {
            document.getElementById('tbody').hidden=false
        
            document.getElementById('party').hidden=false
            
        }
        function showparticular()
        {
            
        
            document.getElementById('ledger').hidden=false
            document.getElementById('party').hidden=true
            
        }
       
  
      
    
  function setledger(names,id){
        
        document.getElementById('ledgeraccount').value=names;
        document.getElementById('currentbalance').hidden=false
        document.getElementById('currentbalance').value=id
        document.getElementById('cr').hidden=false
       
        
    }
    function setparticulars(names,id){
        
        document.getElementById('particular').value=names;
        document.getElementById('curbal').hidden=false
        document.getElementById('curbal').value=id

       
        
    }
  
function setok()
        {
            currntbal=Number(document.getElementById('currentbalance').value)
            amount=Number(document.getElementById('amount').value);
            curbalnce=Number(document.getElementById('curbal').value)
            balance=curbalnce-amount     
            bal=currntbal+amount;
            document.getElementById('total').value=amount
            if (balance<0)
            {
                bl=curbalnce+amount
                
                document.getElementById('curbal').value=bl
                document.getElementById('curbal').style.color = "#ff0000";
                document.getElementById('currentbalance').value=bal
                document.getElementById('dr').value="Cr"
                document.getElementById('dr').style.color = "#ff0000";
                document.getElementById('total').value=amount
                
            }
            else if(balance>0){
                document.getElementById('currentbalance').value=bal
                document.getElementById('curbal').value=balance
                document.getElementById('total').value=amount

            }
            else{
                 document.getElementById('currentbalance').value=bal
                document.getElementById('curbal').value=balance
                document.getElementById('total').value=amount
           
            }
           /* document.getElementById('curbal').value=balance
            document.getElementById('currentbalance').value=bal
           */ 
            
        
            
          /*  b=Number(document.getElementById('currentbalance').value)
            balance=Number(document.getElementById('amount').value);
            bl=Number(document.getElementById('curbal').value);
            bal=b+balance
            d=bl-balance
            document.getElementById('curbal').value=d
            document.getElementById('currentbalance').value=bal
            document.getElementById('total').value=balance
            */
        }
</script> 
  <div class="m-0" style="width: 800px;margin-left: 100px;">
     <!---->
       
    <h6 class="bg-info text-light p-1 m-1 text-left">Accounting Voucher Creation</h6>
    
    <div  style="text-align: center;margin-top:-30px;font-weight:900">{{com.name}}</div>
    <div style="text-align: right;margin-top:-25px;margin-right:180px;font-weight:900" id="currentDate"></div>

            <form  style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'add_receiptvoucher' %}">
                {% csrf_token %}
                
               
                <div class="row container-fluid p-0 mt-1" >

                   
                    <div class="col-sm-6 m-0 p-4">
                       
                        <div class="row container-fluid  p-2 m-0">
                        
                            <div class="col-sm-4 m-0 p-0"> <label >Receipt</label></div>
                            <div class="col-sm-8 m-0 p-0"> 
                            <input type="text" class="form-control" id="" value="{{no}}" name="receipt" onload="setvalue(value)"></div>
                        </div>
    
                       

                       
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label >Account :</label></div>
                            <div class="col-sm-8 m-0 p-0"> 
                            <input type="text" class="form-control" id="ledgeraccount" placeholder="" name="ledgeraccount" onclick="showunder()"></div>
                        </div>

                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label >Current Balance :</label></div>
                            <div class="col-sm-4 m-0 p-0"> 
                           <!--     {% for i in ledger %}   -->
                            
                            <input type="text" name="currentbalance" id="currentbalance" style="width:100px" class="form-control"  readonly hidden>
                            </div>
                       <!-- {% endfor %} -->
                       <div class="col-sm-4 m-0 p-0"> 

                        <input type="text" name="cr" id="cr"  style="width:50px"class="form-control" value="Dr"  readonly hidden>
                            </div>
                        
                        </div>
                    </div>
                </div>
              

           <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);"> 
      
            <div class="row container-fluid m-0 mt-2 w-100 p-0">
           
                <table class="table p-0 m-0" id="pTable">
                    
                        <thead>
                            <tr>
                                <th>Particulars</th>
                                <th></th>
                                <th></th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <div class="table" >
                        <tbody hidden name="tbody" id="tbody">
                            <tr>
                                <td>
                                <input type="text" id="particular" name="particular" class="form-control" placeholder="" onclick="showparticular()" style="width: 200px;">
                                </td>
                              
                        <td>

                        </td>
                        <td>

                        </td>
                                <td>
                                <input type="text" name="amount" id="amount" class="form-control" placeholder="0"  style="width: 100px;">
                                </td>
                                
                                <td>
                                    <input type="button" id="ok" value="OK" onclick="setok()">
                                </td>
                                
                                
                            </tr>
                            <tr>
                                <!--
                                <td class="w-75 m-0 p-0 pl-3" style="cursor: pointer;"><a>August</a></td>
                                <td class="w-25 m-0 p-0 text-center">dfs</td> -->
                            </tr>
                            <tr>
                                <!--
                                <td class="w-75 m-0 p-0 pl-3" style="cursor: pointer;"><a>September</a></td>
                                <td class="w-25 m-0 p-0 text-center">dfs</td> -->
                            </tr>
                          
        
                        </tbody>
                        </div>
                </table>
                
            <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label >Cur Bal :</label></div>
                            <div class="col-sm-8 m-0 p-0"> 
                               
                            <input type="text" id="curbal" name="curbal" class="form-control" readonly hidden>
                        
                        </div>
                        </div>
            </div>
                        
                <div class="row container-fluid m-0 w-100 p-0">
                    <table class="table p-0 m-0">
                        <tbody>
                            <tr>
                                <td class="w-75 m-0 p-0 pl-3">Grand Total</td>
                                <td class="w-25 m-0 p-0 text-center"><input type="text" name="total" class="form-control" placeholder="00" id="total" readonly></td>
                            </tr>
                        </tbody>
                    </table>
                </div>   
                <div class="enter w-100 py-4"><button class="btn btn-info w-25 px-4">SAVE</button></div> 
            </form>
      </div>
  

            
           
                
       

                
                <!-- Listing -->
              
                <div id="party" hidden class="row container " style="margin-block-start: -390px;margin-left: 530px;justify-content: end;">
                    <div class="col-sm-6 m-1 p-1"></div>
                    <div class="col-sm-6 m-1 p-1" style=" background-color:rgba(0,0,0,0.2); height: 400px; padding-bottom: 10px;">
                        <!-- <a href="javascript:history.go(-1);" class="close">+</a> -->

                        
                    <div  class="bg-info text-light">List of Ledger Accounts</div>
                    <div style="text-align: right;" id="currentDate"></div>
                           <div>
                               <table>
                                <br>
                                
                                <tr>
                                    <div style="text-align: right;margin-right: 20px;"><a href="">Create</a></div>   
                                    
                                    </tr>
                                    <tr>
                                        <div style="text-align: right;margin-right: 20px;"><a href="{% url 'alter_company' %}">Back</a></div>   
                                        
                                    </tr>
                                    <hr style="width:100%;text-align:left;margin-left:0">
                                    {% for i in ledger %}
                                        {% if i.under == "Bank Account" %}
                                    <tr>
                                    <div style="margin-left: 25px;"><a onclick="setledger('{{ i.name }}','{{i.opening_blnc}}');">{{i.name}}</a></div>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    
                                    
                               </table>
                           </div>
                        </div>
                    
           </div>    
        -->
            <!-- Listing -->
              
            <div id="ledger" hidden class="row container " style="margin-block-start: -390px;margin-left: 530px;justify-content: end;">
                <div class="col-sm-6 m-1 p-1"></div>
                <div class="col-sm-6 m-1 p-1" style=" background-color:rgba(0,0,0,0.2); height: 400px; padding-bottom: 10px;">
                    <!-- <a href="javascript:history.go(-1);" class="close">+</a> -->

                    
                <div  class="bg-info text-light">List of Ledger Account</div>
                <div style="text-align: right;" id="currentDate"></div>
                       <div>
                           <table>
                            <br>
                            
                            <tr>
                                <div style="text-align: right;margin-right: 20px;"><a href="">Create</a></div>   
                                
                                </tr>
                                <tr>
                                    <div style="text-align: right;margin-right: 20px;"><a href="{% url 'alter_company' %}">Back</a></div>   
                                    
                                </tr>
                                <hr style="width:100%;text-align:left;margin-left:0">
                                {% for i in ledger %}
                            
                                <tr>
                                <div style="margin-left: 25px;"><a onclick="setparticulars('{{ i.name }}','{{i.opening_blnc}}');">{{i.name}}</a></div>
                                </tr>
                                
                                {% endfor %}
                                
                                
                           </table>
                       </div>
                    </div>
                
       </div>    
        
       
 <script>
    document.getElementById("currentDate").innerHTML=new Date().toDateString();
    function setpaymentnumber()
    {
        a=1
        v=document.getElementById('payment').value
        no=v+a
        document.getElementById('payment').value=no
    }
    
function setDate(){
    document.getElementById("currentDate").innerHTML= document.getElementById('enterDate').value;
}
 </script>
    {% endblock %}