
    {% extends 'base.html' %}
    {% block body %}
    
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    </style>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
var item_row_counter = 1
var particular=new Array();
var cbalance=new Array();
function add_item_row() {
    old_item_row_count = item_row_counter
    item_row_counter++;

    $('#tbody >tr:last').clone(true).insertAfter('#tbody >tr:last');
    $('#tbody >tr:last input').val('');

   $('#tbody >tr:last td')[0].innerHTML = item_row_counter
   
    update_amounts($('#tbody input[name=total1]:last'));
}

function setup_rows() {
    $("#addrow").click(function(event) {
    event.preventDefault();
    add_item_row();
    });

    for (var i = 0; i <= 4; i++) {
        add_item_row();
    }
}
/*
function addmore(i)
{
$(document).ready(function() {

  $('.addrow').on('click', function() {
    var field = '<div><input type="text" class="form-control" id="particular' + i + '" name="particular" onclick="showparticular()" style="width: 200px;">' +
            '<div class="col-sm-12 m-1 p-0"> <label >Cur Bal :</label>'+
                                 '<input type="text" id="curbal" style="width:100px" name="curbal[]"  readonly>'+

                                 '<input type="text" name="dr[]" id="dr" style="width:50px" value="Dr"   readonly >'+
                                 '<div class="row container-fluid  p-0 style="margin-left:100px" ><input type="text" name="amount[]" id="amount' + i +'" class="form-control" placeholder="0" style="width: 100px;margin-top: 0px;"></div></td>' +
              '<div><input type="button" class="btn btn-outline-secondary ml-1" id="ok" value="OK" onclick="setok()">' +
            '<input type="button" class="btn btn-outline-secondary ml-1"  id="addrow" value="+" onclick="addmore(1)"></div>'
    $('.table_more').append(field);

  })
})
}
*/

   
    function showVouchers(){
      
      document.getElementById('voucherPop').style.visibility= "visible";
      document.getElementById('voucherPop').style.display = "block"; 
      /*document.getElementById('ledger').hidden=true */
     
  }
    window.addEventListener('click',outsideClick)
    function outsideClick(event){
        if(event.target == document.getElementById('voucherPop')){
            document.getElementById('voucherPop').style.display = "none"
        }
    }
   
    function setVtype(names){
        if (document.getElementById('ledgeraccount').value==null)
        {
        document.getElementById('ledgeraccount').value=names
        }
        else{
            document.getElementById('ledgeraccount').value=names
        }
        
    }
    function showDp(){
        document.getElementById('dpModal').style.visibility= "visible";
        document.getElementById('dpModal').style.display = "block";  
    }
    window.addEventListener('click',outsideClick1)
    function outsideClick1(event){
        if(event.target == document.getElementById('dpModal')){
            document.getElementById('dpModal').style.display = "none"
        }
    }
    
    
    function showunder()
        {
            document.getElementById('tbody').hidden=false
        
            document.getElementById('party').hidden=false
            
        }
        function showparticular()
        {
            
           
            document.getElementById('ledger').hidden=false
            document.getElementById('party').hidden=true
            
            
        }
       
        function showparticular1()
        {
            
        
            document.getElementById('ledger1').hidden=false
            document.getElementById('party').hidden=true
            document.getElementById('ledger').hidden=true
            
        }
  
      
    
  function setledger(names,id){
        
        document.getElementById('ledgeraccount').value=names;
        document.getElementById('currentbalance').hidden=false
        document.getElementById('currentbalance').value=id
        document.getElementById('cr').hidden=false
       
        
    }
    function setparticulars(names,id){
        j=0
        for (var i = 0; i <= 4; i++) {
        document.getElementById("particular1").value=names;

        document.getElementById('curbal').value=id
        }

         /*particular[particular.length]=names
         cbalance[cbalance.length]=id
         alert(particular)
         
        
         j=names
         items.push(j);
         alert(items)
         document.getElementById('particular')[0].innerHTML=items
        document.getElementById('particular[i]').value=names;
        document.getElementById('particular')[j].innerHTML=names 
        $('#tbody input[name=particular]:last').value=names 
        /*document.getElementById('particular[i]').value=names;
        document.getElementById('particular')[j].innerHTML=names 
        document.getElementById('curbal').hidden=false
        document.getElementById('curbal').value=id */
        document.querySelector("#particular1").value=names
        var array=document.g("#").value
         alert(array)

         document.getElementById('curbal').value=id

        
    }
    function setparticulars1(names,id){
      
      document.getElementById('particulars').value=names;
      
      document.getElementById('curbal1').hidden=false
      document.getElementById('curbal1').value=id


     
      
  }
  function setok1()
  {
      document.getElementById('ledger').hidden=true
      document.getElementById('ledger1').hidden=false
      currntbal=Number(document.getElementById('currentbalance').value)
            amount=Number(document.getElementById('amount1').value);
            curbalnce=Number(document.getElementById('curbal1').value)
            balance=curbalnce-amount     
            bal=currntbal+amount;
            document.getElementById('total').value=amount
            if (balance<0)
            {
                bl=curbalnce+amount
                
                document.getElementById('curbal1').value=bl
                document.getElementById('curbal1').style.color = "#ff0000";
                document.getElementById('currentbalance').value=bal
                document.getElementById('dr1').value="Cr"
                document.getElementById('dr1').style.color = "#ff0000";
                document.getElementById('total').value=amount
                
            }
            else if(balance>0){
                document.getElementById('currentbalance').value=bal
                document.getElementById('curbal1').value=balance
                document.getElementById('total').value=amount

            }
            else{
                 document.getElementById('currentbalance').value=bal
                document.getElementById('curbal1').value=balance
                document.getElementById('total').value=amount
           
            }
      amount=Number(document.getElementById('amount').value)
      amount1=Number(document.getElementById('amount1').value)
      currntbal=Number(document.getElementById('currentbalance').value)
      currntbal=currntbal-amount1
      total=amount+amount1
      document.getElementById('total').value=total
      document.getElementById('currentbalance').value=currtbal
  }
function setok()
        {
            currntbal=Number(document.getElementById('currentbalance').value)
            amount=Number(document.getElementById('amount').value);
            curbalnce=Number(document.getElementById('curbal').value)
            balance=curbalnce-amount     
            bal=currntbal+amount;
            document.getElementById('total').value=amount
            if (balance<0)
            {
                bl=curbalnce+amount
                
                document.getElementById('curbal').value=bl
                document.getElementById('curbal').style.color = "#ff0000";
                document.getElementById('currentbalance').value=bal
                document.getElementById('dr').value="Cr"
                document.getElementById('dr').style.color = "#ff0000";
                document.getElementById('total').value=amount
                
            }
            else if(balance>0){
                document.getElementById('currentbalance').value=bal
                document.getElementById('curbal').value=balance
                document.getElementById('total').value=amount

            }
            else{
                 document.getElementById('currentbalance').value=bal
                document.getElementById('curbal').value=balance
                document.getElementById('total').value=amount
           
            }
            document.getElementById('ledger').hidden=true
            documentg.getElementById('total').value=amount;
            addmore(1)
          /*  setup_rows()
           document.getElementById('tbodys').hidden=false

            document.getElementById('curbal').value=balance
            document.getElementById('currentbalance').value=bal
           */ 
            
        
            
          /*  b=Number(document.getElementById('currentbalance').value)
            balance=Number(document.getElementById('amount').value);
            bl=Number(document.getElementById('curbal').value);
            bal=b+balance
            d=bl-balance
            document.getElementById('curbal').value=d
            document.getElementById('currentbalance').value=bal
            document.getElementById('total').value=balance
            */
        }

    function addmore(i)
    {
        $('#atable').append('<div  class="col-sm-12 m-1 p-0"><input type="text" class="form-control" id="particular' + i + '" name="particular" onclick="showparticular()" style="width: 200px;">' +
            '<div  class="col-sm-12 m-1 p-0"><input type="text" name="amount[]" id="amount' + i +'" class="form-control" placeholder="0" style="width: 100px;margin-top: 0px;">'+
            '<div class="col-sm-12 m-1 p-0"> <label >Cur Bal :</label>'+
                                 '<input type="text" id="curbal" style="width:100px" name="curbal[]"  readonly>'+

                                 '<input type="text" name="dr[]" id="dr" style="width:50px" value="Dr"   readonly >'+
                                 '<div class="row container-fluid  p-0 style="margin-left:100px" ><input type="text" name="amount[]" id="amount' + i +'" class="form-control" placeholder="0" style="width: 100px;margin-top: 0px;"></div></td>' +
              '<div><input type="button" class="btn btn-outline-secondary ml-1" id="ok" value="OK" onclick="setok()">' +
            '<input type="button" class="btn btn-outline-secondary ml-1"  id="addrow" value="+" onclick="addmore(1)"></div><td></td>');
    }
</script> 
  <div class="m-0" style="width: 800px;margin-left: 100px;">
     <!---->
       
    <h6 class="bg-info text-light p-1 m-1 text-left">Accounting Voucher Creation</h6>
    
    <div  style="text-align: center;margin-top:-30px;font-weight:900">{{com.name}}</div>
    <div style="text-align: right;margin-top:-25px;margin-right:180px;font-weight:900" id="currentDate"></div>

            <form  style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'add_receiptvoucher' %}">
                {% csrf_token %}
                
               
                <div class="row container-fluid p-0 mt-1" >

                   
                    <div class="col-sm-6 m-0 p-4">
                       
                        <div class="row container-fluid  p-2 m-0">
                        
                            <div class="col-sm-4 m-0 p-0"> <label >Receipt</label></div>
                            <div class="col-sm-8 m-0 p-0"> 
                            <input type="text" class="form-control" id="" value="{{no}}" name="receipt" ></div>
                        </div>
    
                       

                       
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label >Account :</label></div>
                            <div class="col-sm-8 m-0 p-0"> 
                            <input type="text" class="form-control" id="ledgeraccount" placeholder="" name="ledgeraccount" onclick="showunder()"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label >Current Balance :</label></div>
                            <div class="col-sm-4 m-0 p-0"> 
                            
                            <input type="text" name="currentbalance" id="currentbalance" style="width: 100px;" class="form-control" value="{{i.opening_blnc}}"  readonly hidden>
                            </div>
                        
                        <div class="col-sm-4 m-0 p-0"> 

                        <input type="text" name="cr" id="cr"  style="width: 50px;" class="form-control" value="Dr"  readonly hidden>
                            </div>
                        </div>
                    </div>
           <div class="row container-fluid p-0 ml-3" style=" border: 1px solid rgba(128, 128, 128, 0.6); "> 
      
            <div class="row container-fluid m-0  w-100 p-0">
           
                <table class="table p-0 m-0" id="table_logic">
                    
                        <thead>
                            <tr>
                                <th>Particulars</th>
                                <th></th>
                                <th></th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <div class="table" id="table_more" >
        
                        <tbody  name="tbody" id="tbody">
                            <tr>
                               
                                <td>
                                
                                <input type="text" id="particular1" name="particular[]" class="form-control" placeholder="" onclick="showparticular()" style="width: 200px;">
                                
                                <div class="col-sm-12 m-1 p-0"> <label >Cur Bal :</label>
                                 <input type="text" id="curbal" style="width:100px" name="curbal[]"  readonly>

                                 <input type="text" name="dr[]" id="dr" style="width:50px" value="Dr"   readonly >
                                 <input type="text" name="amount[]" id="amount" class="form-control" placeholder="0"  style="width: 100px;margin-top: -50px;margin-left: 400px;">
                                </div>
                               
                                </td>
                              
                        <td>
                            
                        </td>
                        <td>
                    
                        </td>
                               <!-- <td>
                                    <div class="row container-fluid  p-0" >
                                    
                                <input type="text" name="amount[]" id="amount" class="form-control" placeholder="0"  style="width: 100px;margin-top: 0px;">
                                    </div>   
                                    
                            </td>
                        -->
                                
                                    <td style="border: none;"><input type="button" class="btn btn-outline-secondary ml-1" id="ok" value="OK" onclick="setok()"></td>
                                   <!-- <input type="button" role="button" id="ok" value="OK" onclick="setok()"> -->
                                </td>
                                
                                
                            </tr>
                            
                              
                               
                          
        
                        </tbody>
                        <tr>
                            <td style="border: none;"><input type="button" class="btn btn-outline-secondary ml-1"  name="addrow" id="addrow" value="+" onclick="addmore(1)"></td>
                        </tr>
                        <td>


                        <div class="append p-0" id="atable"></div>
                        </td>
                      <!--  <tbody hidden name="tbodys" id="tbodys">
                            <tr>
                                <td>
                                <input type="text" id="particulars" name="particulars" class="form-control" placeholder="" onclick="showparticular1()" style="width: 200px;">
                                <div class="col-sm-12 m-1 p-0"> <label >Cur Bal :</label>
                                    <input type="text" id="curbal1" style="width:100px" name="curbal1"  readonly>
   
                                    <input type="text" name="dr1" id="dr1" style="width:50px" value="Dr"   readonly >
                                   </div>
                                </td>
                              
                        <td>

                        </td>
                        <td>

                        </td>
                                <td>
                                <input type="text" name="amount1" id="amount1" class="form-control" placeholder="0"  style="width: 100px;">
                                </td>
                                
                                <td>
                                    <input type="button" id="ok" value="OK" onclick="setok1()">
                                </td>
                                
                                
                            </tr>
                            <tr>
                                
                                <!--
                                <td class="w-75 m-0 p-0 pl-3" style="cursor: pointer;"><a>August</a></td>
                                <td class="w-25 m-0 p-0 text-center">dfs</td> -->
                           
                                <!--
                                <td class="w-75 m-0 p-0 pl-3" style="cursor: pointer;"><a>September</a></td>
                                <td class="w-25 m-0 p-0 text-center">dfs</td> --><!--
                            </tr>
                          
        
                        </tbody>
                    -->
                        </div>
                </table>
                
           
                
                <div class="row container-fluid m-0 w-100 p-0">
                    <table class="table p-0 m-0">
                        <tbody>
                            <tr>
                                <td class="w-75 m-0 p-0 pl-3">Grand Total</td>
                                <td class="w-25 m-0 p-0 text-center"><input type="text" name="total" class="form-control" placeholder="00" id="total" readonly></td>
                            </tr>
                        </tbody>
                    </table>
                </div>   
                <div class="row m-0 mt-4">
                    <div class="col-md-4">NARRATION: 
                    </div>
                    <div class="col-md-8"><textarea class="form-control" id="narration" name="narration" rows="5" cols="30" width="100%"></textarea></div><br><br><br><br>
                    </div>
                    <!--<div class="col-md-2">
                     
                    </div>-->
                  </div>     
                <div class="enter w-100 py-4"><button class="btn btn-info w-25 px-4">SAVE</button></div> 
           </div>
            
                </div>
                
            </form>
      </div>
  

            
           
                
       

                
                <!-- Listing -->
              
                <div id="party" hidden class="row container " style="margin-block-start: -490px;margin-left: 230px;justify-content: end;">
                    <div class="col-sm-6 m-1 p-1"></div>
                    <div class="col-sm-4 m-1 p-1" style=" background-color:rgba(0,0,0,0.2); height: 400px; padding-bottom: 10px;">
                        <!-- <a href="javascript:history.go(-1);" class="close">+</a> -->

                        
                    <div  class="bg-info text-light">List of Ledger Accounts</div>
                    <div style="text-align: right;" id="currentDate"></div>
                           <div>
                               <table>
                                <br>
                                
                                <tr>
                                    <div style="text-align: right;margin-right: 20px;"><a href="{% url 'create_ledger' %}">Create</a></div>   
                                    
                                    </tr>
                                    <tr>
                                        <div style="text-align: right;margin-right: 20px;"><a href="{% url 'alter_company' %}">Back</a></div>   
                                        
                                    </tr>
                                    <hr style="width:100%;text-align:left;margin-left:0">
                                    {% for i in ledger %}
                                        {% if i.under == "Bank_Accounts" %}
                                    <tr>
                                    <div style="margin-left: 25px;"><a onclick="setledger('{{ i.name }}','{{i.opening_blnc}}');">{{i.name}}</a></div>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    
                                    
                               </table>
                           </div>
                        </div>
                    
           </div>    
        
            <!-- Listing -->
              
            <div id="ledger" hidden class="row container " style="margin-block-start: -490px;margin-left: 230px;justify-content: end;">
                <div class="col-sm-8 m-1 p-1"></div>
                <div class="col-sm-4 m-1 p-1" style=" background-color:rgba(0,0,0,0.2); height: 400px; padding-bottom: 10px;">
                    <!-- <a href="javascript:history.go(-1);" class="close">+</a> -->

                    
                <div  class="bg-info text-light">List of Ledger Account</div>
                <div style="text-align: right;" id="currentDate"></div>
                       <div>
                           <table>
                            <br>
                            
                            <tr>
                                <div style="text-align: right;margin-right: 20px;"><a href="{% url 'create_ledger' %}">Create</a></div>   
                                
                                </tr>
                                <tr>
                                    <div style="text-align: right;margin-right: 20px;"><a href="{% url 'alter_company' %}">Back</a></div>   
                                    
                                </tr>
                                <hr style="width:100%;text-align:left;margin-left:0">
                                {% for i in ledger %}
                            
                                <tr>
                                <div style="margin-left: 25px;"><a onclick="setparticulars('{{ i.name }}','{{i.opening_blnc}}');">{{i.name}}</a></div>
                                </tr>
                                
                                {% endfor %}
                                
                                
                           </table>
                       </div>
                    </div>
                
       </div>    
        
       <div id="ledger1" hidden class="row container " style="margin-block-start: -690px;margin-left: 230px;justify-content: end;">
        <div class="col-sm-8 m-1 p-1"></div>
        <div class="col-sm-4 m-1 p-1" style=" background-color:rgba(0,0,0,0.2); height: 400px; padding-bottom: 10px;">
            <!-- <a href="javascript:history.go(-1);" class="close">+</a> -->

            
        <div  class="bg-info text-light">List of Ledger Account</div>
        <div style="text-align: right;" id="currentDate"></div>
               <div>
                   <table>
                    <br>
                    
                    <tr>
                        <div style="text-align: right;margin-right: 20px;"><a href="{% url 'create_ledger' %}">Create</a></div>   
                        
                        </tr>
                        <tr>
                            <div style="text-align: right;margin-right: 20px;"><a href="{% url 'alter_company' %}">Back</a></div>   
                            
                        </tr>
                        <hr style="width:100%;text-align:left;margin-left:0">
                        {% for i in ledger %}
                    
                        <tr>
                        <div style="margin-left: 25px;"><a onclick="setparticulars1('{{ i.name }}','{{i.opening_blnc}}');">{{i.name}}</a></div>
                        </tr>
                        
                        {% endfor %}
                        
                        
                   </table>
               </div>
            </div>
        
</div>     
        
       
 <script>
    document.getElementById("currentDate").innerHTML=new Date().toDateString();
    
 
    
function setDate(){
    document.getElementById("currentDate").innerHTML= document.getElementById('enterDate').value;
}
 </script>
    {% endblock %}